[Unit]
Description=EdgeFirst IMU Service
Wants=network.target
After=network.target
Before=edgefirst-recorder.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/edgefirst-imu
Restart=always

[Install]
WantedBy=multi-user.target
