[Unit]
Description=EdgeFirst NavSat Service
After=gpsd.service network.target
Wants=gpsd.service network.target
Before=edgefirst-recorder.service

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/edgefirst-navsat
ExecStart=/usr/bin/edgefirst-navsat
Restart=always

[Install]
WantedBy=multi-user.target
